@import './smth/smth.css';

.hero-batman-logo {
  background: url('src/img/batman.svg');
  width: 50%;
  height: 190px;
  background-size: auto 100%;
  background-position: center right;
  background-repeat: no-repeat;
  opacity: .8;
}

.features {
  margin: 80px 0;
  
  .feature-icon {
    text-align: center;
    margin: 30px 0;
  }
}

.posts {
  margin-bottom: 40px;
}
