.hero-batman-logo {
  background: url('../img/batman.svg');
  width: 50%;
  height: 190px;
  background-size: auto 100%;
  background-position: center right;
  background-repeat: no-repeat;
  opacity: .8;
}

.features {
  margin: 80px 0;
}

.feature-icon {
  text-align: center;
  margin: 30px 0;
}

.feature-text {
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: center;
}

.posts {
  margin-bottom: 40px;
}
